body,html{
  height: 100%;
}

#root {
  padding: 2rem;
  font-family: "Inter", sans-serif;
  height: 100%;
}

.intro-title {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
}

html[data-theme="dark"] input:-webkit-autofill,
html[data-theme="dark"] input:-webkit-autofill:hover,
html[data-theme="dark"] input:-webkit-autofill:focus,
html[data-theme="dark"] input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  box-shadow: inset 0 0 20px 20px var(--color-zinc-800);
}

html[data-theme="light"] input:-webkit-autofill,
html[data-theme="light"] input:-webkit-autofill:hover,
html[data-theme="light"] input:-webkit-autofill:focus,
html[data-theme="light"] input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000000;
  box-shadow: inset 0 0 20px 20px var(--color-zinc-100);
}


